html {
  line-height: 1.15;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

h1, h2 {
  font-weight: 200;
}

h1 {
	font-size: 6em;
  letter-spacing: 1.15625em;
}

h2 {
  font-size: 3.75em;
  letter-spacing: -0.03125em;
}

h3, h4, h5 {
	font-weight: 400;
}

h3 {
  font-size: 3em;
  letter-spacing: 0;
}

h4 {
  font-size: 2.125em;
  letter-spacing: 0.015625em;
}

h5 {
  font-size: 1.5em;
  letter-spacing: 0;
}

h6 {
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.009375em;
}

p {
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.03125em;
}

main {
  display: block;
}

a {
	color: inherit;
  background-color: transparent;
}

b, strong {
  font-weight: 900;
}

img {
  border-style: none;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}
